.booking-list {
  padding: 1rem;
  color: #f0f0f0;
}
.booking-list h2{
  text-align: center;
  font-size: 2rem;
  color: #4fc3f7;

}
.booking-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.booking-card {
  background: #1e1e2f;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 0 10px #4fc3f7;
}

.view-btn {
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  background-color: #4fc3f7;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-btn:hover {
  background-color: #29b6f6;
}

@media (max-width: 480px) {
.booking-list h2{
  font-size: 1.3rem;
}
}